<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>INTAKE 포트폴리오_정세은</title>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/myscript.js"></script> 
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
	 <footer th:fragment="footer">
     	<h1>하단영역</h1>
     		
     		<div class="footer-wrap">
	     		<section id="footer-menu">
	     			<h1>하단메뉴</h1>
	     			<div class="space-between view-width">
      					<div class="row-align">
      						<p class="tit">SNS</p>
      						<ul class="row-align">
	      						<li><a href="https://www.instagram.com/intakefoods/">Instagram</a></li>
	      						<li><a href="https://www.facebook.com/shopintake">Facebook</a></li>
      						</ul>
      				</div>
      				
      				<div class="row-align">
      					<p class="tit">고객센터</p>
	      					<ul class="row-align">
	      						<li><a href="/cs/cscenter/1">공지사항</a></li>
	      						<li><a href="/cs/csfaq">FAQ</a></li>
	      						<li><a href="/cs/csinquire">1:1 문의</a></li>
	      						<li><a href="/cs/cssuggest">제품 제안하기</a></li>
	      					</ul>
      				</div>
      				
      				<div class="term">
      					<ul class="row-align">
      						<li><a href="#">제휴/협업 관련 안내</a></li>
      						<li><a href="#">이용약관</a></li>
      						<li><a href="#">개인정보취급방침</a></li>
      					</ul>
      				</div>
      			</div>
	     		</section>
	
	     		
	     		
	     		<section id="company">
	     			<h1>회사정보</h1>
	     			<div class="view-width row-align">
	     				<div class="info">
	     					<div>
	     						<img alt="로고" src="/images/logo.png">
	     					</div>
	     						
	     					<div class="detail">
	     						<div class="left">
	     						<dl>
	     							<dt>상호명</dt>
	     							<dd>인테이크 주식회사</dd>
	     						</dl>	
	     						
	     						<dl>	
	     							<dt>소재지</dt>
	     							<dd>서울특별시 서초구 명달로 116 6층</dd>
	     						</dl>	
	     							
	     							
	     						<dl>
	     							<dt>대표자</dt>
	     							<dd>한녹엽</dd>
	     						</dl>		
	     							
	     						<dl>
	     							<dt>개인정보취급담당자</dt>
	     							<dd>조영일</dd>
	     						</dl>		
	     							
	     						<dl>	
	     							<dt>고객센터</dt>
	     							<dd>1644-1567 / <span style="font-size: 12px">
	     							<a href="mailto:help@intakefoods.kr">help@intakefoods.kr</a></span></dd>
	     						</dl>
	     						
	     						<dl>
	     							<dt>호스팅 사업자</dt>
	     							<dd>아마존 웹 서비스(AWS)</dd>
	     						</dl>
	     						</div>
	     					
	     					
	     					
	     					<div class="right">
	     						<dl>
	     							<dt>사업자등록번호<span style="font-size: 12px"><a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2017321015330201022&pageUnit=10&searchCnd=wrkr_no&searchKrwd=1198668123&pageIndex=1">[사업자 정보 조회]</a></span></dt>
	     							<dd>119-86-68123</dd>
	     						</dl>	
	     						<dl>	
	     							<dt>통신판매업신고</dt>
	     							<dd>제 2017-서울서초-1022</dd>
	     						</dl>	
	     							
	     							
	     						<dl>
	     							<dt>건강기능식품판매업신고</dt>
	     							<dd>제 2015-0091591호</dd>
	     						</dl>		
	     							
	     						<dl>
	     							<dt>유통전문판매업 신고</dt>
	     							<dd>0094066호</dd>
	     						</dl>		
	     							
	     						<dl>	
	     							<dt>제휴/마케팅문의</dt>
	     							<dd><a href="mailto:mkt@intakefoods.kr" style="font-size: 12px">mkt@intakefoods.kr</a></dd>
	     						</dl>
	     						
	     						<dl>
	     							<dt>입점/판매 문의</dt>
	     							<dd><a href="mailto:sales@intakefoods.kr" style="font-size: 12px">sales@intakefoods.kr</a></dd>
	     						</dl>
	     					</div>
	     				
	     				
	     				</div>
	     				
	     				</div>
	     				
	     			</div>
	     		</section>
	     		
	     		<p class="copy">Copyright(c) 2020 INTAKE Co., Ltd. All rights reserved.</p>
	     		
	     	
     		</div>
     </footer>
</body>
</html>